/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " ("attr(href) ")";
    }

    abbr[title]::after {
        content: " ("attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*
 * Customization
 */


/* Colours */

:root {
    --periwinkle: #D5DCF9;
    --sage: #B5BD89;
    --pale-red: #D88373;
    --purple: #5F5B6B;
    --coral: #FF8360;
    --mauve: #86626E;
    --black: #000200;
    --eggshell: #FAF9F1;
    --viridian: #498467;
    --orange: #DF5A2F;
    --cream: #F2A087;
    --white: #FFFFFF;
    --brown: #4C1E0F;
    --pale-green: #DCEED1;
    --liver: #281C26;
    --gray: #483C46;
    --pale-grape: #AF9BB6;
    --fulvous: #E98A15;
    --blue: #0F5A6C;
    --teal: #1b4d4d;
    --fire-opal: #EF6461;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--liver);
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: larger;
    font-weight: bold;
}


/* Fonts */

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans', sans-serif;
}

code {
    font-family: 'Noto Sans Mono', monospace;
}

.ogham {
    font-family: 'Noto Sans Ogham', sans-serif;
    color: var(--white);
    font-weight: normal !important;
}

a {
    color: var(--liver);
    font-weight: bold;
    text-decoration-line: none;
}

a:hover {
    color: var(--teal);
    font-weight: bolder;
    text-decoration-line: none;
}

/* Utility */

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.topmargin {
    margin-top: 1em !important;
}

.bottommargin {
    margin-bottom: 1em !important;
}


/* Header */

.header {
    top: 0;
    left: 0;
    min-height: 100%;
    line-height: 2em;
    color: var(--liver);
    background-color: var(--pale-green);
}


/* Body */

.body {
    color: var(--liver);
    background-color: var(--white);
    height: 100%;
}


/* Footer */

.footer {
    padding-right: 1em;
    padding-bottom: 2em;
    bottom: 0;
    width: 100%;
    line-height: 2em;
    color: var(--liver);
    background-color: var(--pale-green);
    margin-top: 2em;
}


/* Animations */

.nav-vertical {
    padding-left: 2em;
    padding-right: 1em;
    border-style: hidden;
    transition-property: border-right-style border-left-style;
    transition-duration: 0.5s;

    color: var(--liver);
    font-weight: normal;
    text-decoration-line: none;
    transition-property: text-transform;
    transition-duration: 0.5s;
    text-decoration-line: none;
}

.nav-vertical:hover {
    border-right-color: var(--fire-opal);
    padding-right: 1em;
    border-right-style: inset;
    border-width: thick;
    transition-property: border-right-style border-left-style;
    transition-duration: 0.5s;

    color: var(--liver);
    font-weight: bold;
    transition-property: text-transform;
    transition-duration: 0.5s;
    text-decoration-line: none;
}

.nav-text {
    margin-left: 0.5em;
    font-size: 1.2em;
    line-height: 2em;
    text-decoration-line: none;
}


.footer-nav {
    min-height: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.footer-nav-text,
.footer-nav-icon {
    font-size: 1.5em;
    color: var(--gray);
    text-transform: font-size;
    text-decoration-line: none;
    transition-property: text-transform;
    transition-duration: 0.5s;
    border-bottom-style: hidden;
}


.footer-nav-icon:hover {
    color: var(--fire-opal);
    font-size: 1.5em;
    text-transform: font-size;
    text-decoration-line: none;
    transition-property: text-transform ;
    transition-duration: 0.5s;
    border-color: var(--viridian);
    border-bottom-style: solid;
}


.footer-nav-ogham {
    font-size: 1.25em;
    color: var(--gray);
    text-transform: font-size;
    text-decoration-line: none;
    transition-property: text-transform;
    transition-duration: 0.5s;
}

.footer-nav-ogham:hover {
    color: var(--fire-opal);
    text-transform: font-size;
    text-decoration-line: none;
    transition-property: text-transform;
    transition-duration: 0.5s;
}

.icon-large {
    font-size: 1.5em;
}

.icon-link {
    color: var(--gray);
    transition-property: text-transform;
    transition-duration: 0.5s;
    text-decoration-line: none;
}

.icon-link:hover {
    color: var(--fire-opal);
    transition-property: text-transform;
    transition-duration: 0.5s;
    text-decoration-line: none;
}

.text-link {
    color: var(--liver);
    transition-property: text-transform;
    transition-duration: 0.5s;
    text-decoration-line: none;
}

.text-link:hover {
    color: var(--fire-opal);
    transition-property: text-transform;
    transition-duration: 0.5s;
    text-decoration-line: none;
}

/*
 * Images
 */
.personal-photo {
    border-radius: 50%;
    margin-top: 1em;
    box-shadow: 3px 3px 8px var(--liver);
}

.logo-image {
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
  * About section
  */
.about-text {
    font-family: 'Noto Sans', 'sans-serif';
    font-size: larger;
}

.section-title {
    border-right: thick inset var(--white);
    border-bottom: thick inset var(--viridian);
    margin-bottom: 1em;
    margin-top: 1em;
}

.section-title-text {
    color: var(--liver);
    margin-bottom: 4px;
    margin-top: 4px;
    font-weight: bold;
}


/* 
 * Cycle between
 * - Computer Scientist
 * - Compiler Researcher
 * - Computer Engineer
 */

.typewriter-section {
    max-height: 50px;
    min-height: 50px;
    line-height: 50px;
}

#typewriter-title {
    font-family: 'Noto Sans Mono', monospace;
    font-size: x-large;
    white-space: nowrap;
    margin: 0 auto;
    width: auto;
    white-space: pre;
}

/*
 * Papers
 */
.authors {
    color: var(--gray);
}

.conference,
.conference:visited {
    color: var(--viridian);
    font-weight: bold;
    text-decoration-line: underline;
}

.conference:hover {
    color: var(--fire-opal);
    font-weight: bolder;
    text-decoration-line: none;
}

.align-middle {
    vertical-align: middle;
}

/*
  * CV Styling
  */

.cv-name {
    font-weight: bolder;
}

.cv-subtitle {
    color: var(--fire-opal);
    font-weight: bold;
}

.cv-info {
    color: var(--gray);
}

.cv-location {
    color: var(--fire-opal);
    font-style: italic;
}

.cv-year {
    color: var(--gray);
    font-style: italic;
}

.cv-link,
.cv-link:visited {
    color: var(--viridian);
    font-weight: bold;
    text-decoration-line: none;
}

.cv-link:hover {
    color: var(--fire-opal);
    font-weight: bolder;
    text-decoration-line: none;
}