.personal-photo {
    border-radius: 50%;
    width: 50%;
}

.logo-image {
    width: 50%;
}

.nav-vertical {
    text-align: right;
    font-size: large;
}

.sticky-top {
    position: fixed;
    top: 0;
}

a {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
}

a:visited {
    text-decoration-line: none;
}

.sc {
    font-variant: small-caps;
}
